{% extends 'base/base.html' %}

{% block title %}Detalhes do Cliente{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Detalhes do Cliente</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ cliente }}</h6>
        </div>
        <div class="card-body">
            <p><strong>Tipo:</strong> {{ cliente.get_tipo_pessoa_display }}</p>
            {% if cliente.tipo_pessoa == 'F' %}
                <p><strong>Nome:</strong> {{ cliente.nome }}</p>
                <p><strong>CPF:</strong> {{ cliente.cpf }}</p>
            {% else %}
                <p><strong>Razão Social:</strong> {{ cliente.razao_social }}</p>
                <p><strong>CNPJ:</strong> {{ cliente.cnpj }}</p>
            {% endif %}
            <p><strong>Email:</strong> {{ cliente.email }}</p>
            <p><strong>Telefone:</strong> {{ cliente.telefone }}</p>
        </div>
        <div class="card-footer">
            <a href="{% url 'clientes:cliente-list' %}" class="btn btn-secondary">Voltar para a Lista</a>
            <a href="{% url 'clientes:cliente-update' cliente.pk %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'clientes:cliente-delete' cliente.pk %}" class="btn btn-danger">Deletar</a>
        </div>
    </div>
</div>
{% endblock %}