{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% if form.instance.pk %}Editar Cliente{% else %}Adicionar Cliente{% endif %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">{% if form.instance.pk %}Editar Cliente{% else %}Adicionar Cliente{% endif %}</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a href="{% url 'clientes:cliente-list' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
